package component

templ GuessTable() {
    <table class="guess-table w-full">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Atk</th>
            <th>Def</th>
            <th>Level</th>
            <th>Race</th>
            <th>Attribute</th>
        </tr>
        </thead>
        <tbody id="guess-results">
        </tbody>
    </table>
}
