package component

templ GuessButton() {
    <input
        type="submit"
        value="GUESS"
        class="bg-black text-white p-1"
        hx-post="/guess"
        hx-target="#guess-results"
        hx-swap="beforeend"
        x-on:click="guessCount--; 
            $nextTick(() => { 
                searchText = '';
                document.getElementById('searchBar').value = '';
            })
        "
        x-ref="guessButton"
    />
}
