package component

templ GuessButton() {
    <input
        type="submit"
        value="GUESS"
        x-on:click="guessCount--"
        hx-post="/guess"
        hx-target="#guess-results"
        hx-swap="beforeend"
    />
}
