package component

templ GuessForm() {
    <form 
        autocomplete="off"
        class="m-0"
    >
        <div class="flex flex-row justify-between border-2 rounded-md border-black">
            @SearchBar("name")
            @GuessButton()
        </div>
    </form>
}
