package component

templ GuessButton() {
    <button 
        x-on:click="guessCount--; console.log(searchBarText);"
        hx-post="/guess"
        hx-vals='js:{ "searchBarText": this.searchBarText }'
        hx-target="#guess-results"
        hx-swap="beforeend"
    >
        GUESS
    </button>
}
