package component

import "yugiohdle/model"

templ Guess(guess model.Guess) {
    <table class="guess-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>FrameType</th>
            <th>Atk</th>
            <th>Def</th>
            <th>Level</th>
            <th>Race</th>
            <th>Attribute</th>
        </tr>
        </thead>
            <tbody id="guess-results">
        </tbody>
    </table>
}
