package component

templ SearchBar(name string) {
    <input 
        class="form-control w-64" 
        id="searchBar" 
        type="search" 
        name="search" 
        placeholder="Search Monster" 
        hx-post="/search" 
        hx-trigger="input changed delay:500ms, search" 
        hx-target="#search-results" 
        x-ref="searchBar"
        x-model="searchText"
    />
}
