package home

import (
    "yugiohdle/view/layout"
    "yugiohdle/view/component"
)

templ Show(name string) {
    @layout.Base() {
        <h2>This is a random card: { name }</h2>
        @component.Input("name")
    }
}
